# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# Ansible (generated per deploy)
ansible/inventory

# Python
__pycache__/
*.pyc

# Secrets
*.pem

# Ansible archives
ansible/*.zip

# OS
.DS_Store
Thumbs.db
